In [7]:
'''Esta funcion realiza la agrupacion de varios archivos xlsx en archivos parquet
segmentados por año-mes.'''

#--------------------------------------------------
#---------------- LIBRERIAS -----------------------
#--------------------------------------------------
# Liberia
import pandas as pd

# Permite buscar y recuperar una lista de nombres de archivos que coinciden con un patrón específico.
import glob
import os

# --- CONFIGURACION DE RUTAS ---
# Ruta de entrada para los archivos históricos de ventas
path_data_historic = r'C:\Users\SSN0609\Stanley Black & Decker\Latin America - Regional Marketing - Marketing Analytics\Data\Processed-Dataflow\Fill_Rate\fill_rate_2025-APR.parquet'
df=pd.read_parquet(path_data_historic)

In [8]:
df.head(2)

,fk_Date,fk_year_month,fk_Country,fk_Sold_To_Customer_Code,fk_SKU,fk_date_country_customer_clasification,Fill Rate First Pass Order Qty,Fill Rate First Pass Invoice Qty,Fill Rate First Pass Order $,Fill Rate First Pass Invoice $
0,2025-04-01,2025-APR,ARGENTINA,AR/00000006,144988-02,2025-APR-ARGENTINA-AR/00000006-NOT ASSIGNED-NO...,100,100,149.87,149.87
1,2025-04-01,2025-APR,ARGENTINA,AR/00000006,151281-08,2025-APR-ARGENTINA-AR/00000006-NOT ASSIGNED-NO...,20,20,254.19,254.19

In [8]:
df.columns

Index(['Plant Code', 'Demand Group', 'Fiscal Period', 'GPP SBU',
       'GPP Division Code', 'GPP Division', 'GPP Category', 'GPP Portfolio',
       'Market Group', 'Global Material', 'Global Material Description',
       'Demand History & Forecast-QTY', 'Shipment History& Forecast-Qty',
       'Demand History & Forecast-GSV', 'Shipment History&Forecast-GSV',
       'Fiscal Year', 'co'],
      dtype='object')

In [2]:
import pandas as pd
ruta=r'C:\Users\SSN0609\Stanley Black & Decker\Latin America - Regional Marketing - Marketing Analytics\Data\Processed-Dataflow\Demand\demand_2023-APR.parquet'
df=pd.read_parquet(ruta)

In [3]:
df.head(2)

,fk_Date,fk_year_month,fk_Country,fk_SKU,fk_date_country_clasification,Demand History & Forecast-QTY,Shipment History& Forecast-Qty,Demand History & Forecast-GSV,Shipment History&Forecast-GSV
0,2023-04-01,2023-APR,CCA,DW44801-PH,2023-APR-CCA-NOT ASSIGNED-NOT ASSIGNED-NOT ASS...,1555.408,NAN,1850.94,NAN
1,2023-04-01,2023-APR,ECUADOR,DW44801-PH,2023-APR-ECUADOR-NOT ASSIGNED-NOT ASSIGNED-NOT...,498.018,NAN,393.43,NAN